div{
    position:sticky;
    top:10px;
    background-color: burlywood;
    border: 2px solid black;
    font-size: x-large;
    padding: 20px;
}
div::after{
    content: '\260E';
}
h1{
    background-color: salmon;
    border: 2px solid black;
    font-size: xx-large;
    padding: 30px;
    text-align: center;
}
h2{
    background-color: cornflowerblue;
    border: 2px solid black;
    font-size: xx-large;
    padding: 30px;
    text-align: center;
}

p::before{
    content: '\1F4DE';
}
p:hover{
text-decoration-line:underline ;
font-weight: bolder;
color:cornflowerblue;
}